<form class="form-inline"
      style="margin-top: 30pt;">
    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Enter the name of a dish to save"
               #dish>
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0 bg-dark"
            type="button"
            (click)="publishDish(dish)"
            style="margin-left: 3pt;">НАЖАТЬ
    </button>
</form>

<h2 style="margin-top: 10pt;">DISHES</h2>

<ul style="width: 20%" class="list-group" *ngFor="let d of dishes">
    <a href="https://www.google.com.ua/search?biw=2133&bih=1082&ei=J0rwWuuwAqSJmgXU95yoBA&q={{d.name}}&oq={{d.name}}&gs_l=psy-ab.3..0i67k1l2j0i20i263k1j0i67k1l2j0l4j0i67k1.2208240.2208896.0.2210791.5.5.0.0.0.0.112.428.0j4.4.0....0...1.1.64.psy-ab..1.4.428...0i131k1.0.TCpGxplhhQE"
       target="_blank">
        <li class="list-group-item list-group-item-action">
            {{d.name}}
        </li>
    </a>
</ul>