<form class="form-inline"
      style="margin-top: 30pt;">
    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Enter the name of a dish to save"
               #dish>
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0 bg-dark"
            type="button"
            (click)="publishDish(dish)"
            style="margin-left: 3pt;">НАЖАТЬ
    </button>
</form>

<h2 style="margin-top: 10pt;">DISHES</h2>

<ul style="width: 20%" class="list-group" *ngFor="let dish of dishes">
    <a routerLink="/dish/{{dish._id}}">
        <li class="list-group-item list-group-item-action">
            {{dish.name}}
        </li>
    </a>
</ul>